
<% @mitsurins.each do |mr| %>
  <p>
    <%= image_tag  "/get_image/#{mr.id}" %>
    <strong><%=link_to mr.name, "/mitsurins/#{mr.id}" %></strong>
    <div class="menu">
      <%= link_to '削除', "/mitsurins/#{mr.id}", method: :delete %>
      <%= mr.price %>円
      <%= link_to '購入', "/mitsurins/#{mr.id}/purchase" %>
  </p></div>

<% end %>
<p><%= link_to '新規追加', '/mitsurins/new' %></p>